# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# PyInstaller / Build outputs
build/
dist/
dist_installer/
*.manifest
test_results/
пос 28 тест.xlsx
хуй.xlsx

# User Data & Backups
.watermetrics/
*.bak
*.tmp

# IDEs
.vscode/
.idea/
.gemini/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store
